@import 'settings';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,700italic,500);

html, body {
	background: $space-gray;
	padding: 0;
	margin: 0;
	font-size: 1vh;
	font-family: 'Roboto', sans-serif;
}

@media all and (orientation:landscape) {
	html, body { font-size: 1.6vh; }
} 

body {
	color: $yellow;

	&.-northwestern {
		color: #002B49;
		background: white;

		header { background: #002B49; color: white; }
		section.-reverse { background: #002B49; color: white; }
		footer { background: #002B49 }
	}
}

header,
section,
footer {
	padding: 0 5vw;
}


header { 
	background: rgba(0,0,0,.5);
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5vw;
}

section {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-around;

	.title { padding-bottom: 3vh; }

	//Heights
	&.-ten { min-height: 10vh; }
	&.-twenty { min-height: 20vh; }
	&.-fourty { min-height: 40vh; }
	&.-fifty { min-height: 50vh; }
	&.-sixty { min-height: 60vh; }
	&.-seventy { min-height: 70vh; }
	&.-eighty { min-height: 80vh; }
 

	//Flexbox
	&.-justify-start { justify-content: flex-start; }
	&.-justify-center { justify-content: center; }
	&.-justify-around { justify-content: space-around; }
	&.-justify-around { justify-content: space-around; }
	&.-justify-end { justify-content: flex-end; }

	//Reserve color pallete
	&.-reverse { background: $yellow; color: black; }
}

footer {
	display: flex;
	transition: all .3s ease;
    position: fixed;
    height: 6vh;
    background: rgba(0,0,0,.4);
    color: white;
    width: 100vw;
    font-size: 1.25em;
    line-height: 6vh;
	
	.links { align-self: center; }
    a { margin: 0 2em; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	display: block;
}

h1 { font-size: 5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }
h4 { font-size: 1rem; }

a {
	color: inherit;
	text-decoration: none;
 	border-bottom: 1px solid;
}

.introduction { 
	font-weight: 400;
}

.major {
	font-size: 3.5rem;
	text-align: center;
	font-weight: 200;
	align-self: center;
}

.technology {
	display: inline-block;
    border: 1px solid;
    padding: 0.5em;
    margin: .25em;
} 

.slide-transition {
  transition: all .3s ease;
  bottom: 0;
}

.slide-enter, .slide-leave {
  bottom: -5vh;
}

.experience {
	padding: 0 0 5em 0;
	.business { 
		font-size: 6rem;
		padding: 5vh 0 .25vh 0;
	}
	.position { 
		font-size: 4rem;
		font-weight: 400;
	}
	.time { 
		font-size: 2rem; 
		padding: 0 0 1vh 0;
	}
	.description { 
		font-size: 2.5rem; 
		padding: 3vh 0 4vh 0;
	}
	.technologies { 
		line-height: 1.75em;
		font-size: 2rem; 
	}
}