// Cosmetic-free design patterns

.-h1 {
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
  padding-top: .25em;
}


@media screen and (min-width: 300px) {
  body{
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  body{
    font-size: 40px;
  }
}
